<div class="row g-0 overflow-hidden flex-md-row mb-3 brutalist-card push-on-hover">
    <div
        class="col-md-auto d-flex justify-content-center align-items-center ps-md-3 py-md-3 pt-3 project-card-image-container">
        {% if include.project.cover_image contains '.mp4' %}
        <video src="{% include fix_link.html link=include.project.cover_image %}"
            class="object-fit-contain project-card-media" width="270" alt="paper cover" muted autoplay loop
            playsinline></video>
        {% else %}
        <img src="{% include fix_link.html link=include.project.cover_image %}"
            class="object-fit-contain project-card-media" width="270" alt="paper cover">
        {% endif %}
    </div>
    <div class="col-md p-3 ps-md-3 d-flex flex-column position-static">
        <!-- <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong> -->
        <h3 class="mb-1 fs-5">{{ include.project.title }}</h3>
        <div class="mb-1 text-body-secondary small">
            <!-- add names of authors -->
            {% for person in include.project.authors %}
            {{ person.name }} {% if forloop.last == false %} , {% endif %}
            {% endfor %}
            | {{ include.project.date | date: "%B %Y" }} {{ include.project.release_date | date: "%B %Y" }}
        </div>
        {% if include.project.venue %}
        <div class="mb-2 text-body-secondary small fst-italic">
            {{ include.project.venue }}
        </div>
        {% endif %}
        <p class="mb-auto line-clamp-3">{{ include.project.description }}</p>

        <div class="mt-2 text-body-secondary small fw-bold position-relative" style="z-index: 2;">
            <a href="{{ include.project.url | relative_url }}"
                class="text-decoration-none text-reset link-underline-hover">website</a>
            {% if include.project.links %}
            {% for link in include.project.links %}
            <span class="mx-1">/</span><a href="{{ link.url }}" target="_blank"
                class="text-decoration-none text-reset link-underline-hover">{{ link.name | downcase }}</a>
            {% endfor %}
            {% endif %}
        </div>
        <a href="{{ include.project.url | relative_url }}" class="stretched-link" aria-label="Project details"></a>
    </div>
</div>